/* 
   code highlight CSS resemblign the Eclipse IDE default color schema
   @author Costin Leau
*/
.hl-keyword {
	color: #7F0055 !important;
	font-weight: bold !important;
}

.hl-comment {
	color: #3F5F5F !important;
	font-style: italic !important;
}

.hl-multiline-comment {
	color: #3F5FBF !important;
	font-style: italic !important;
}

.hl-tag {
	color: #3F7F7F !important;
}

.hl-attribute {
	color: #7F007F !important;
}

.hl-value {
	color: #2A00FF !important;
}

.hl-string {
	color: #2A00FF !important;
}