<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Servlet API mock -->
	<bean id="mockRequest" class="org.springframework.mock.web.MockHttpServletRequest" scope="prototype">
		<property name="requestURI">
			<value>/path/testAction.do</value>
		</property>
	</bean>

</beans>