<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="HDIVFacesEventListener" class="org.hdiv.events.HDIVFacesEventListener">
		<property name="config" ref="config" />
		<property name="logger" ref="logger" />
		<property name="editableValidator" ref="editableValidator" />
		<property name="htmlInputHiddenValidator" ref="htmlInputHiddenValidator" />
		<property name="requestParamValidator" ref="requestParameterValidator" />
		<property name="uiCommandValidator" ref="uiCommandValidator" />
	</bean>

	<bean id="requestParameterValidator" class="org.hdiv.validators.RequestParameterValidator">
		<property name="hdivConfig" ref="config" />
	</bean>

	<bean id="uiCommandValidator" class="org.hdiv.validators.UICommandValidator">
	</bean>

	<bean id="htmlInputHiddenValidator" class="org.hdiv.validators.HtmlInputHiddenValidator">
	</bean>

	<bean id="editableValidator" class="org.hdiv.validators.EditableValidator">
		<property name="hdivConfig" ref="config" />
	</bean>

	<bean id="redirectHelper" class="org.hdiv.context.RedirectHelper">
		<property name="linkUrlProcessor" ref="linkUrlProcessor" />
	</bean>

	<bean id="validatorHelper" class="org.hdiv.filter.JsfValidatorHelper"
		init-method="init">
		<property name="logger" ref="logger" />
		<property name="stateUtil" ref="stateUtil" />
		<property name="hdivConfig" ref="config" />
		<property name="session" ref="sessionHDIV" />
		<property name="dataValidator" ref="dataValidator" />
		<property name="dataComposerFactory" ref="dataComposerFactory" />
		<property name="urlProcessor" ref="basicUrlProcessor"/>
	</bean>

</beans>