<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="defaultComponentTreeValidator" class="org.hdiv.validation.DefaultComponentTreeValidator">
		<property name="config" ref="config" />
	</bean>

	<bean id="redirectHelper" class="org.hdiv.context.RedirectHelper">
		<property name="linkUrlProcessor" ref="linkUrlProcessor" />
	</bean>

	<bean id="validatorHelper" class="org.hdiv.filter.JsfValidatorHelper"
		init-method="init">
		<property name="stateUtil" ref="stateUtil" />
		<property name="hdivConfig" ref="config" />
		<property name="session" ref="sessionHDIV" />
		<property name="dataValidator" ref="dataValidator" />
		<property name="dataComposerFactory" ref="dataComposerFactory" />
		<property name="urlProcessor" ref="basicUrlProcessor" />
	</bean>

	<!-- ComponentProcessor -->
	<bean id="outcomeTargetComponentProcessor"
		class="org.hdiv.components.support.OutcomeTargetComponentProcessor">
		<property name="config" ref="config" />
		<property name="linkUrlProcessor" ref="linkUrlProcessor" />
	</bean>

	<bean id="outputLinkComponentProcessor"
		class="org.hdiv.components.support.OutputLinkComponentProcessor">
		<property name="config" ref="config" />
		<property name="linkUrlProcessor" ref="linkUrlProcessor" />
	</bean>

</beans>